<% provide(:title, 'Каталог') %>

<% if signed_in? %>
  <%= link_to 'Добавить позицию', new_product_path, class: "btn btn-primary" %>
<% end %>

<% @products.each do |product| %>
<% if (params[:gr] == product.group and params[:sgr] == product.subgroup) or (params[:gr] == nil and params[:sgr] == nil) or (params[:gr] == product.group and params[:sgr] == nil) %>
<div class="row thumbnail margin-clear">
  <div class="col-xs-4"><%= image_tag(product.image_url, class: "img-responsive") %></div>
  <div class="col-xs-8 caption">
    <h2><%= product.title %> <span class="badge"><%= product.price %> руб.</span></h2>
    <p><%= product.description %></p>
    <p>
    <%= link_to 'Подробнее', product, class: "btn btn-default" %>
    <% if !current_user?(@user) %>
    <% if current_user.admin? %>
    <%= link_to 'Редактировать', edit_product_path(product), class: "btn btn-success" %></td>
    <%= link_to 'Удалить', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <% end %>
    <% end %>
  </p>
  </div>
</div>
<% end %>
<% end %>
